.shadow {
	box-shadow: 0 1px 2px 0px #545454;
	-webkit-box-shadow: 0 1px 2px 0px #545454;
} 
.flag {
	color: pink;
}

#wrapper {
	position: relative;
}

#wrapper img
{
	display: block;
	width: auto;
	max-width: 100%;
}